<!DOCTYPE html>
     
      <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/listener_main.css">>
      </head>
     
      <body>
         <header>
            <%- include('../partials/header'); %>
        </header>
        
        <main>
            <!-- Search Bar -->
            <div id="search">
                <input type="text" id ='searchFeature'>
                <button id="SearchButton">Search</button>
            </div>
            <!-- Widget -->
            <div class = "widget">
                
                <section id="glance">
                    <h2 id="GlanceTitle">Glance</h2>
                    <section class="GlanceBox">
                        
                        <% songs.forEach(function(songs) { %>
                            <section  class = "GlanceSection" id="Glance1">
                                <p class="SongHeader" id="Song1"><%= songs.song %></p>
                                <section class="Metadata">
                                    <section class="SongMetadataLeft">
                                        <img class='ImageMetadata' src="../../assets/images/music.jpg">
                                    </section>
                                    <section class="SongMetadataRight">
                                        <p>Artist: <%= songs.artist %></p>
                                        <p>Album: <%= songs.album %></p>
                                    </section>
                                </section>
                            </section>
                        <% }); %>
                    </section>
                </section>

                <section id="player">
                    <div class="PlayerTitleMetadata">
                        <% currentPlaying.forEach(function(currentPlaying) {%>
                            <h2 id="PlayerTitle"><%= currentPlaying.album %> <%= currentPlaying.song %></h2>
                        <% }); %>
                    </div>

                    <div id="media">
                        <img src="../../assets/images/albumArt.jpg" id="AlbumArt">
                    </div>

                    <div id="bottomPane">
                        <div id="controlPanel">
                            <div></div>

                            <div id="playback">
                                <div class="volumeControl">
                                    <!-- TODO: icon and button here -->
                                    <button id = "volumeDown">
                                        <!-- TODO: icon here --> 
                                        <img src="../../assets/icons/volumedown.svg" alt="volume down icon" id = "volumeDownIcon">
                                    </button>
                                </div>
                                
                                <div class = "muteSound">
                                    <input type="checkbox" id="muteSound">
                                    <!---<label for="muteSound" id = "muteSoundLabel"> -->
                                        <!-- TODO: icon here -->
                                        <button id="muteSoundButton">
                                            <img src="../../assets/icons/mute.svg" alt = "mute icon" id = "muteSoundIcon">
                                        </button>
                                    </label>
                                </div>
                                
                                <div class="volumeControl">
                                    <button id="volumeUp">
                                        <!-- TODO: icon here -->
                                        <img src="../../assets/icons/volumeup.svg" alt="volume up icon" id = "volumeUpIcon">
                                    </button>
                                </div>
                            </div>
                            <div></div>
                            
                            
                        </div>
                    </div>
                </section>

                <section id="lyrics">
                    <h2>Lyrics</h2>
                    <div class="lyricStanza">
                        <% lyrics.forEach(function(lyrics) { %>
                            <p><%= lyrics.lyric %></p>
                       <% }); %>
                    </div>
                </section>

            </div>
            <!-- Timeline -->
            <div class="timeline">
                <!-- E1 -->
                <% pastPlaylist1.forEach(function(pastPlaylist1) { %>
                <div class="event">
                    <!-- <span class="eventDetails">
                        <img src="assets/icons/more.svg" alt="details icon" class = "detailsIcon">
                    </span> -->
                    <span class="eventHeader">
                        <span id="djName">
                            <%= pastPlaylist1.dj%>
                        </span>
                        <span id="programContent">
                            <%= pastPlaylist1.genre1%>
                            <%= pastPlaylist1.genre2%>
                            <%= pastPlaylist1.genre3%>
                        </span>
                    </span>
                    <!-- Buttons -->
                    <!-- Can't like and unlike at the same time FIXME: use javascript -->
                    <span class="eventButtons">
                        <span id  = "likeButton">
                            <input type="checkbox" id="like">
                            <label for="like">
                                <span id="likeInteraction">
                                    <!-- like icon -->
                                    <span id = "likeIconContainer">
                                        <img src="../../assets/icons/black/like.svg" alt = "like icon" id = "likeIcon">
                                    </span>
                                    <!-- like counter -->
                                    <span id = "likeCounter" class="likeCounter1">
                                        <%= pastPlaylist1.like%>
                                    </span>
                                </span>
                            </label>
                        </span>
                    </span>
                    <span class="eventFooter">
                        <span class="top">
                            produced by
                        </span>
                        <span id="producerName">
                            <%= pastPlaylist1.producer %>
                        </span>
                    </span>
                </div>
                <% }); %>
                <!-- E2 -->
                <% pastPlaylist2.forEach(function(pastPlaylist2) { %>
                <div class="event">
                    <!-- <span class="eventDetails">
                        <img src="assets/icons/more.svg" alt="details icon" class = "detailsIcon">
                    </span> -->
                    <span class="eventHeader">
                        <span id="djName">
                            <%= pastPlaylist2.dj%>
                        </span>
                        <span id="programContent">
                            <%= pastPlaylist2.genre1%>
                            <%= pastPlaylist2.genre2%>
                            <%= pastPlaylist2.genre3%>
                        </span>
                    </span>

                    <span class="eventButtons">
                        <span id  = "likeButton">
                            <input type="checkbox" id="like">
                            <label for="like">
                                <span id="likeInteraction">
                                    <!-- like icon -->
                                    <span id = "likeIconContainer">
                                        <img src="../../assets/icons/black/like.svg" alt = "like icon" id = "likeIcon">
                                    </span>
                                    <!-- like counter -->
                                    <span id = "likeCounter" class="likeCounter2">
                                        <%= pastPlaylist2.like %>
                                    </span>
                                </span>
                            </label>
                        </span>
                    </span>

                    <span class="eventFooter">
                        <span class="top">
                            Produced By
                        </span>
                        <span id="producerName">
                            <%= pastPlaylist2.producer %>
                        </span>
                    </span>
                </div>
                <% }); %>
                <!-- E3 -->
                <% pastPlaylist3.forEach(function(pastPlaylist3) { %>
                <div class="event" id="MiddleEvent">
                    <div id="nextDJname">
                        <p>Currently Playing</p>
                   </div>

                    <div class="upNextHeader">
                        <div>
                            
                            <div class="upNextHeaderImage">
                                    <img src="../../assets/images/music.jpg" id="UpNextImage" width="75%" height="75%">
                            </div>

                            <span class="eventButtons">
                                <span id  = "likeButton">
                                    <input type="checkbox" id="like">
                                    <label for="like">
                                        <span id="likeInteraction">
                                            <!-- like icon -->
                                            <span id = "likeIconContainer">
                                                <img src="../../assets/icons/black/like.svg" alt = "like icon" id = "likeIcon"  width="75%" height="75%">
                                            </span>
                                            <!-- like counter -->
                                            <span id = "likeCounter" class="likeCounter3">
                                                <%= pastPlaylist3.like %>
                                            </span>
                                        </span>
                                    </label>
                                </span>
                            </span>
                        </div>
                            
                        <div class="upNextMetadataAll">
                            <div class="eventHeader">
                                <div id="djName">
                                    <%= pastPlaylist3.dj%>
                                </div>
                                <div id="programContent">
                                    <%= pastPlaylist3.genre1%>
                                    <%= pastPlaylist3.genre2%>
                                    <%= pastPlaylist3.genre3%>
                                </div>
                            </div>
        
                            <div class="eventFooter">
                                <div class="top">
                                    Produced By
                                </div>
                                <div id="producerName">
                                    <%= pastPlaylist3.producer %>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
                <% }); %>
                
                <% pastPlaylist4.forEach(function(pastPlaylist4) { %>
                <div class="event">
                    <!-- <span class="eventDetails">
                        <img src="assets/icons/more.svg" alt="details icon" class = "detailsIcon">
                    </span> -->
                    <span class="eventHeader">
                        <span id="djName">
                            <%= pastPlaylist4.dj%>
                        </span>
                        <span id="programContent">
                            <%= pastPlaylist4.genre1%>
                            <%= pastPlaylist4.genre2%>
                            <%= pastPlaylist4.genre3%>
                        </span>
                    </span>

                    <span class="eventButtons">
                        <span id  = "likeButton">
                            <input type="checkbox" id="like">
                            <label for="like">
                                <span id="likeInteraction">
                                    <!-- like icon -->
                                    <span id = "likeIconContainer">
                                        <img src="../../assets/icons/black/like.svg" alt = "like icon" id = "likeIcon">
                                    </span>
                                    <!-- like counter -->
                                    <span id = "likeCounter" class="likeCounter4">
                                        <%= pastPlaylist4.like %>
                                    </span>
                                </span>
                            </label>
                        </span>
                    </span>

                    <span class="eventFooter">
                        <span class="top">
                            Produced By
                        </span>
                        <span id="producerName">
                            <%= pastPlaylist4.producer %>
                        </span>
                    </span>
                </div>
                <% }); %>
                
                <% pastPlaylist5.forEach(function(pastPlaylist5) { %>
                <div class="event">
                    <!-- <span class="eventDetails">
                        <img src="assets/icons/more.svg" alt="details icon" class = "detailsIcon">
                    </span> -->
                    <span class="eventHeader">
                        <span id="djName">
                            <%= pastPlaylist5.dj%>
                        </span>
                        <span id="programContent">
                            <%= pastPlaylist5.genre1%>
                            <%= pastPlaylist5.genre2%>
                            <%= pastPlaylist5.genre3%>
                        </span>
                    </span>

                    <span class="eventButtons">
                        <span id  = "likeButton">
                            <input type="checkbox" id="like">
                            <label for="like">
                                <span id="likeInteraction">
                                    <!-- like icon -->
                                    <span id = "likeIconContainer">
                                        <img src="../../assets/icons/black/like.svg" alt = "like icon" id = "likeIcon">
                                    </span>
                                    <!-- like counter -->
                                    <span id = "likeCounter" class="likeCounter5">
                                        <%= pastPlaylist5.like %>
                                    </span>
                                </span>
                            </label>
                        </span>
                    </span>

                    <span class="eventFooter">
                        <span class="top">
                            produced by
                        </span>
                        <span id="producerName">
                            <%= pastPlaylist5.producer %>
                        </span>
                    </span>
                </div>
                <% }); %>
            </div>
        </main>

        <footer>
           <%- include('../partials/footer');%>
        </footer>
    </body>
    <script src="/javascript/listener_main.js"></script>
</html>