<!DOCTYPE html>
     
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/listener_main.css">
    <link rel="stylesheet" href="/css/listener_edit_preference.css">
</head>
 
  <body>
     <header>
        <%- include('../partials/header'); %>
     </header>

          <main>
                <style type="text/css" >
                    h3 {margin-top:2%}
                </style>
                <h3> Update Preferences </h3>
                <form class="FormPreferencesEdit" id="PreferenceEditForm">
                    <div class="FormUpdatePreference">
                        <button  class='DropDownButton' id="DJs">Choose Which DJs You Want to Get Recommended:</button>
                        <div class = 'DropDownContent' id="DJs">
                            <% djs.forEach(function(djs) { %>
                                <div>
                                    <input class = 'checkbox' type='checkbox' name="dj1" value="dj1" id="<%=djs.id%>"
                                    <%= djs.checked ? "checked " : " " %>>
                                        <%= djs.djName %>
                                    </input>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    
                    <div class="FormUpdatePreference">
                        <button  class='DropDownButton' id="Playlist">Choose Which Playlists You Want to Get Recommended:</button>
                        <div class = 'DropDownContent' id="Playlists">
                            <% playlist.forEach(function(playlist) { %>
                                <div>
                                    <input class = 'checkbox' type='checkbox' name="dj1" value="dj1" id="<%=playlist.id%>"
                                    <%= playlist.checked ? "checked " : " " %>>
                                        <%= playlist.playlistName %>
                                    </input>
                                </div>
                            <% }); %>
                        </div>
                    </div>

                    <div class="FormUpdatePreference">
                        <button  class='DropDownButton' id="Genre">Choose Which Genres You Want to Get Recommended:</button>
                        <div class = 'DropDownContent' id="Genre">
                            <% genre.forEach(function(genre) { %>
                                <div>
                                    <input class = 'checkbox' type='checkbox' name="dj1" value="dj1" id="<%=genre.id%>"
                                    <%= genre.checked ? "checked " : " " %>>
                                        <%= genre.genreName %>
                                    </input>
                                </div>
                            <% }); %>
                        </div>
                    </div>

                    <div class="FormUpdatePreference">
                        <button class='DropDownButton' id="LanguageButton">Choose Language You Want to Get Recommended:</button>
                        <div class = 'DropDownContent' id="Language">
                            <% language.forEach(function(language) { %>
                                <div>
                                    <input class = 'checkbox' type='checkbox' name="dj1" value="dj1" id="<%=language.id%>"
                                    <%= language.checked ? "checked " : " " %>>
                                        <%= language.languageName %>
                                    </input>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    
                    <div class="SubmitButton">
                        <input type="submit" id = 'SubmitForm2' value="Submit to Update Preferences!" onmousedown="submitForm();">
                        </input>
                    </div>
                </form>
          </main>
        </body>
        <script src="/javascript/listener_preferences_edit.js"></script>
</html>