<!DOCTYPE html>
     
      <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/listener_main.css">
        <link rel="stylesheet" href="/css/listener_preferences.css">
      </head>
     
      <body>
         <header>
            <%- include('../partials/header'); %>
          </header>

          <main>
            <div>
                <h2>See Your Preferences</h2>
                    <h3>Genres Liked</h3>
                        <div class="Genre">
                            <% genre.forEach(function(genre) { %>
                                <div class="itemPreference">
                                    <p class="itemDescriptor"><%= genre.genreName%></p>
                                    <img src="/assets/images/music.png" alt="Genre 1" class="itemImg">
                                </div>
                            <% }); %>
                        </div>
                    <h3>Playlists Liked</h3>
                        <div class="Playlist">
                            <% playlist.forEach(function(playlist) { %>
                                <div class="itemPreference">
                                    <p class="itemDescriptor"><%= playlist.playlistName%></p>
                                    <img src="/assets/images/music.jpg" alt="Genre 1" class="itemImg">
                                </div>
                            <% }); %>
                        </div>
                    <h3>DJs Liked</h3>
                        <div class="DJ">
                            <% djs.forEach(function(djs) { %>
                                <div class="itemPreference">
                                    <p class="itemDescriptor"><%= djs.djName%></p>
                                    <img src="/assets/images/dj.png" alt="Genre 1" class="itemImg">
                                </div>
                            <% }); %>
                        </div>
                    <h3>Languages Liked</h3>
                        <div class="Language">
                            <% language.forEach(function(language) { %>
                                <div class="itemPreference">
                                    <p class="itemDescriptor"><%= language.languageName%></p>
                                    <img src="/assets/images/globe.jpg" alt="Genre 1" class="itemImg">
                                </div>
                            <% }); %>
                        </div>
            </div>
                <button id=UpdateButton" onclick="updatePreferences();"><h2><a src="/listener_preferences_edit">Update Preferences</a></h2></button>
          </main>

        </body>

        <script src="/javascript/listener_preferences.js"></script>
</html>